/*Color Theme*/
:root {
  --col_heading: rgb(244,135,74);
  --col_text: #8dc2e1;
  --col_outline: rgb(25,43,110);
  --col_bg: #3a3f3f;
  --col_bg_heading: rgb(29,33,42);
}

﻿@font-face {
    font-family: 'Triggering Fanfares';
    src: url('../fonts/triggering_fanfares/triggering_fanfares.ttf');
}

body {
    color: var(--col_text);
    background-color: #3a3f3f;
    /*background-image: url("../images/fancyhexes.png");*/
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Triggering Fanfares'
}

h1 {
    font-size: 60px;
}

.hero {

}

.hero img {
    width: 100%;
    height: auto;
}

.skills {
    padding: 10%;
}

.skills img {
    width: 100%;
    height: auto;
}
