@font-face {
    font-family: 'Triggering Fanfares';
    src: url('../fonts/triggering_fanfares/triggering_fanfares.ttf');
}

body {
    background-color: #3a3f3f;
    color: #8dc2e1;
    background-image: url("../images/fancyhexes.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Triggering Fanfares'
}

h1 {
    font-size: 60px;
}

.hero {

}

.hero img {
    width: 100%;
    height: auto;
}

.skills {
    padding: 10%;
}

.skills img {
    width: 100%;
    height: auto;
}