/*Color Theme*/
:root {
    --col_heading: rgb(244,135,74);
    --col_text: #8dc2e1;
    --col_outline: rgb(25,43,110);
    --col_bg: rgb(29,33,42);
    --col_bg_heading: rgb(29,33,42);
    --col_bg2: #3a3f3f;
}

﻿@font-face {
    font-family: 'Triggering Fanfares';
    src: url('../fonts/triggering_fanfares/triggering_fanfares.ttf');
}

body {
    color: var(--col_text);
    background-color: var(--col_bg);
    /*background-image: url("../images/fancyhexes.png");*/
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Triggering Fanfares'
}

.page-lower {
    padding: 0px;
    background-color: var(--col_bg2);
    min-height: 50vh;
}

.clickable {
    text-decoration: underline;
}

.clickable:hover {
    color: var(--col_heading);
    cursor: pointer;
}

.info-panel {
    margin-top: 10%;
}

.hero img {
    width: 100%;
    height: auto;
}

.skills {
    padding: 10%;
}

.skills img {
    width: 100%;
    height: auto;
}

.blogpost-listed {
    border-left-style: solid;
    border-left-color: var(--col_text);
    border-left-width: 10px;
    padding-left: 15px;
}

.blogpost-listed:hover {
    border-left-color: var(--col_heading);
    cursor: pointer;
    background-color: var(--col_text);
    color: var(--col_bg); 
}