@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="skills">
            <img src="~/images/SkillHex.png" />
        </div>
    </div>
    <div class="col-md-4">
        <h1>Joseph Tomlinson</h1>
    </div>
</div>

