@model Portfolio.Models.PageInfo

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    <p>
        Edit Title
        @Html.EditorFor(model => model.Title)
    </p>
    
    <p>
        Edit Body
        @Html.TextAreaFor(model => model.MainInfo)
    </p>

    <button class="btn btn-info" type="submit">Submit</button>
}