@foreach (var blogPost in Model)
{
    <h3 class="clickable" onclick="location.href='@Url.Action("Details", "Blog", new {Id = blogPost.Id})'" >@blogPost.Title</h3>
    <h5>@blogPost.PartialBody(80)</h5>
}